* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bgc: #2F3645;
    --mainColor: #123;
    --dyration: .6s;
}

html {
    font-size: 10px;
}

body {
    font-family: 'poppins';
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  

    
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--bgc); 
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #123; 
}
:focus {
    outline: none;
}
.container {
    width: 100%;
    display: flex;
}

@media (min-width:1400px)
{
    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
}

.left {
    width: 30%;
    background-color: var(--mainColor, #123);
    padding: 25px;
    margin: 1.2rem 2rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 0 5px #ddd;
}

.left .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left .top > div {
    position: relative;
    background-color: var(--bgc);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 1;
    transition: var(--duration, .6s);
    -webkit-transition: var(--duration, .6s);
    -moz-transition: var(--duration, .6s);
    -ms-transition: var(--duration, .6s);
    -o-transition: var(--duration, .6s);
    cursor: pointer;
}

.left .top > div::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--duration, .6s);
    -webkit-transition: var(--duration, .6s);
    -moz-transition: var(--duration, .6s);
    -ms-transition: var(--duration, .6s);
    -o-transition: var(--duration, .6s);
}

.left .top > div:hover::before {
    width: 100%;
}

.left .top > div:hover {
    color: #003;
}
.left hr {
    border: 1px #fafafa solid;
    margin: 2rem 0;
}
.left .bottom {
    position: relative;
    width: 100%;
}
.left .bottom .x0,
.left .bottom .x1,
.left .bottom .x2,
.left .bottom .x3 {
    width: 100%;
    display: none;
}
.left .bottom .x0 > div,
.left .bottom .x1 > div,
.left .bottom .x2 > div,
.left .bottom .x3 > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background-color:var(--bgc);
    margin: 2rem 0;
    border: #777 1px solid;
    cursor: pointer;
    color: darkcyan;
}
.left .bottom .x0 > div span, 
.left .bottom .x1 > div span, 
.left .bottom .x2 > div span, 
.left .bottom .x3 > div span {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}
.left .bottom .x0 > div i,
.left .bottom .x1 > div i,
.left .bottom .x2 > div i,
.left .bottom .x3 > div i {
    font-size: 2rem;
    color: #fff;
}

.left .bottom .x0 .pull,
.left .bottom .x1 .pull, 
.left .bottom .x2 .pull, 
.left .bottom .x3 .pull {
    margin-bottom: 3.5rem;
}
.left .bottom .x0 > div .start,
.left .bottom .x1 > div .start,
.left .bottom .x2 > div .start,
.left .bottom .x3 > div .start {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.left .bottom .x0 > div .start  img,
.left .bottom .x1 > div .start  img,
.left .bottom .x2 > div .start  img,
.left .bottom .x3 > div .start  img {
    width: 25px;
}
@media (max-width: 1120px) {
    .container {
        flex-direction: column;
    }
    .left {
        width: 95%;
        margin: 1.2rem auto;
        display: flex;
    }
    .left .top {
        align-items: center;
        padding: 25px;
        flex-direction: column;
    }
    .left .top > div {
        margin: 10px 0;
        width: 80px;
    }
    .left .top > div:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}
    hr {
        display: none;
    }

    .right {
        width: 95% !important;
        margin:auto;
    }
    .right .top-header,
    .boll {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .left {
        width: 100%;
        margin: 0;
        border-radius: 0;
        display: flex;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        flex-direction: column;
}
.boll::before,
.boll::after {
    display: none;
}
.right {
    width: 100% !important;
}
.right .top-header,
.boll {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    margin-bottom: 0 !important;
}
    .left .top {
        align-items: center;
        padding: 25px;
        flex-direction: row;
    }
    .left .top > div {
        width: fit-content;
    }
}
.right {
    width: 70%;
}
.right .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    padding: 2.5rem;
    color: #fff;
    margin: 1.2rem 2rem 1.2rem 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 0 5px #ddd;
}
.right .top-header span {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
/* .right .top-header .mode {
    font-size: 2.5rem;
    cursor: pointer;
}
.right .top-header .mode  i[class="fa-solid fa-sun"] {
    color: #ff0;
}
.right .top-header .mode  i[class="fa-solid fa-moon"] {
    color: cyan;
} */
.boll {
    position: relative;
    background-color: #123; 
    padding: 25px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 1.2rem 2rem 1.2rem 0;
    min-height: 478px;
}
.boll::before {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    height: 50%;
    width: 5px;
    background-color: var(--bgc);
    box-shadow: 0 0 5px #ddd;
    animation: move 4s infinite;
    -webkit-animation: move 4s infinite ease-in-out;
}
.boll::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 50%;
    width: 5px;
    background-color: var(--bgc);
    box-shadow: 0 0 5px #ddd;
    animation: movet infinite 4s ease-in-out;
    -webkit-animation: movet infinite 4s ease-in-out;
}
@keyframes move {
    0%,100% {
        top: 0;
    }

    50% {
        top: 50%;
    }
}
@keyframes movet {
    0%,100% {
        bottom: 0;
    }

    50% {
        bottom: 50%;
    }
}
.boll  h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.card {
    display: none;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main > div > input {
    padding: 10px;
    width: 300px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--bgc);
    border: 1px #fff solid;
}

.main > div > input:nth-child(2) {
    margin-top: 1.2rem;
}